

header{
    font-family: 'Tangerine', cursive;
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
}
body{
    background-color: #353535;
    color: whitesmoke;
    font-family: 'Unica One', cursive;
    font-size: 26px;
}